In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('olist_orders_dataset.csv')
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,items_count,order_price,order_freight_value,total_payment_installments,total_payment_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,13b825fdc28948500cfc7a03eb975fbc,669b06cabc9d39c1bcc52e6889e1318d,delivered,13-02-2018 11:05,13-02-2018 11:30,15-02-2018 01:28,21-02-2018 20:09,12-03-2018 00:00,1,31.00,11.85,1,42.85,f0903f4311560f0f99dca752df6dfa67,14930,boa esperanca do sul,SP
1,f9d90a312f7c442297e418dbf9564475,35b031db03bcb2b6e37e2ed393ab3720,delivered,17-10-2017 16:03,18-10-2017 03:14,19-10-2017 16:46,09-11-2017 15:27,08-11-2017 00:00,1,17.90,15.10,1,33.00,3e3048f4f31ca9a28f05279f3554c715,27470,passa tres,RJ
2,d1e7343d9fea35ce6330478c84f0fb7f,38d582cf25bb1bc7d6f9f494dc2c260e,delivered,25-07-2018 18:18,26-07-2018 13:15,27-07-2018 10:55,02-08-2018 16:54,09-08-2018 00:00,1,56.00,15.49,2,71.49,3ce128c0db0a5e430f1a998105944d59,26210,nova iguacu,RJ
3,0e2b7e9ea88624cc24fe978983190dea,278bd592e79315f09047f589279bf742,delivered,19-08-2017 17:33,19-08-2017 17:50,25-08-2017 18:45,13-09-2017 20:23,15-09-2017 00:00,1,174.90,31.97,3,206.87,f668170416a9f589e91a2b9dc11e1eb3,29165,serra,ES
4,a60d97427c94f3cf9e9c338ac3e9aa14,341c4634e0f68d32b278e42dc843b433,delivered,14-03-2018 15:04,16-03-2018 03:50,19-03-2018 12:32,04-04-2018 20:16,11-04-2018 00:00,1,139.89,34.52,1,174.41,2a9c0f0e5f06e91c50c74baf4dc67a0f,19470,presidente epitacio,SP

In [ ]:
df.describe()

,items_count,order_price,order_freight_value,total_payment_installments,total_payment_value,customer_zip_code_prefix
count,99441.000000,99441.000000,99441.000000,99441.000000,99441.000000,99441.000000
mean,1.112599,134.210218,22.238208,2.930491,160.988648,35137.474583
std,0.562579,208.439049,21.710211,2.715687,221.950728,29797.938996
min,0.000000,0.000000,0.000000,0.000000,0.000000,1003.000000
25%,1.000000,43.000000,13.470000,1.000000,62.010000,11347.000000
50%,1.000000,83.900000,16.950000,2.000000,105.290000,24416.000000
75%,1.000000,149.900000,23.700000,4.000000,176.970000,58900.000000
max,21.000000,13440.000000,1794.960000,24.000000,13664.080000,99990.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
 8   items_count                    99441 non-null  int64
 9   order_price                    99441 non-null  float64
 10  order_freight_value            99441 non-null  float64
 11  total_payment_installments     99441 non-null  int64
 12  total_payment_value            99441 non-null  float64
 13  customer_unique_id             99441 non-null  object
 14  customer_zip_code_prefix       99441 non-null  int64
 15  customer_city                  99441 non-null  object
 16  customer_state                 99441 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 12.9+ MB

In [ ]:
df = df.copy()

In [ ]:
#Datetime conversion
date_cols = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date"
]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

/tmp/ipython-input-1124850508.py:10: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors="coerce")
/tmp/ipython-input-1124850508.py:10: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors="coerce")
/tmp/ipython-input-1124850508.py:10: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors="coerce")
/tmp/ipython-input-1124850508.py:10: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors="coerce")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  39099 non-null  datetime64[ns]
 8   items_count                    99441 non-null  int64
 9   order_price                    99441 non-null  float64
 10  order_freight_value            99441 non-null  float64
 11  total_payment_installments     99441 non-null  int64
 12  total_payment_value            99441 non-null  float64
 13  customer_unique_id             99441 non-null  object
 14  customer_zip_code_prefix       99441 non-null  int64
 15  customer_city                  99441 non-null  object
 16  customer_state                 99441 non-null  object
dtypes: datetime64[ns](5), float64(3), int64(3), object(6)
memory usage: 12.9+ MB

In [ ]:
#checking for duplicate values
df.duplicated().sum()

np.int64(0)

In [ ]:
df["order_id"].duplicated().sum()

np.int64(0)

In [ ]:
df.isna().sum()

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                  160
order_delivered_carrier_date      1783
order_delivered_customer_date     2965
order_estimated_delivery_date    60342
items_count                          0
order_price                          0
order_freight_value                  0
total_payment_installments           0
total_payment_value                  0
customer_unique_id                   0
customer_zip_code_prefix             0
customer_city                        0
customer_state                       0
dtype: int64

In [ ]:
df['order_approved_at'].head()

0   2018-02-13 11:30:00
1   2017-10-18 03:14:00
2   2018-07-26 13:15:00
3   2017-08-19 17:50:00
4   2018-03-16 03:50:00
Name: order_approved_at, dtype: datetime64[ns]

In [ ]:
df["order_estimated_delivery_date"].head(10)

0   2018-12-03
1   2017-08-11
2   2018-09-08
3          NaT
4   2018-11-04
5   2017-05-12
6          NaT
7          NaT
8          NaT
9   2018-11-05
Name: order_estimated_delivery_date, dtype: datetime64[ns]

In [ ]:
df["order_estimated_delivery_date"] = pd.to_datetime(
    df["order_estimated_delivery_date"],
    format="mixed",
    errors="coerce"
)

In [ ]:
df['order_estimated_delivery_date'].head()

0   2018-12-03
1   2017-08-11
2   2018-09-08
3          NaT
4   2018-11-04
Name: order_estimated_delivery_date, dtype: datetime64[ns]

In [ ]:
df['order_estimated_delivery_date'].isna().sum()

np.int64(60342)

In [ ]:
df["order_status"].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [ ]:
lst = [96478,1107,625,609,314,301,5,2]
sum = 0
for item in lst:
  sum = sum + item
print(sum)

99441

In [ ]:
96478-99441

-2963

In [ ]:
order_completion_rate = (96478/sum)*100
order_completion_rate

97.02034372140264

##Finding insights for completed orders

In [ ]:
#creating completed orders df from Orders that were completed
df_completed = df[df['order_status']=='delivered']

In [ ]:
df_completed['order_status'].value_counts()

order_status
delivered    96478
Name: count, dtype: int64

In [ ]:
df_completed.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,items_count,order_price,order_freight_value,total_payment_installments,total_payment_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,13b825fdc28948500cfc7a03eb975fbc,669b06cabc9d39c1bcc52e6889e1318d,delivered,2018-02-13 11:05:00,2018-02-13 11:30:00,2018-02-15 01:28:00,2018-02-21 20:09:00,2018-12-03,1,31.00,11.85,1,42.85,f0903f4311560f0f99dca752df6dfa67,14930,boa esperanca do sul,SP
1,f9d90a312f7c442297e418dbf9564475,35b031db03bcb2b6e37e2ed393ab3720,delivered,2017-10-17 16:03:00,2017-10-18 03:14:00,2017-10-19 16:46:00,2017-11-09 15:27:00,2017-08-11,1,17.90,15.10,1,33.00,3e3048f4f31ca9a28f05279f3554c715,27470,passa tres,RJ
2,d1e7343d9fea35ce6330478c84f0fb7f,38d582cf25bb1bc7d6f9f494dc2c260e,delivered,2018-07-25 18:18:00,2018-07-26 13:15:00,2018-07-27 10:55:00,2018-08-02 16:54:00,2018-09-08,1,56.00,15.49,2,71.49,3ce128c0db0a5e430f1a998105944d59,26210,nova iguacu,RJ
3,0e2b7e9ea88624cc24fe978983190dea,278bd592e79315f09047f589279bf742,delivered,2017-08-19 17:33:00,2017-08-19 17:50:00,2017-08-25 18:45:00,2017-09-13 20:23:00,NaT,1,174.90,31.97,3,206.87,f668170416a9f589e91a2b9dc11e1eb3,29165,serra,ES
4,a60d97427c94f3cf9e9c338ac3e9aa14,341c4634e0f68d32b278e42dc843b433,delivered,2018-03-14 15:04:00,2018-03-16 03:50:00,2018-03-19 12:32:00,2018-04-04 20:16:00,2018-11-04,1,139.89,34.52,1,174.41,2a9c0f0e5f06e91c50c74baf4dc67a0f,19470,presidente epitacio,SP

Total Orders and Revenue

In [ ]:
total_orders = df_completed['order_id'].nunique()
print("Total Orders:" ,total_orders)
total_revenue = df_completed['total_payment_value'].sum()
print("Total Revenue:", round(total_revenue,2))
avg_order_value = total_revenue/ total_orders
print("Average Order Value:" , round(avg_order_value,2))

Total Orders: 96478
Total Revenue: 15422461.77
Average Order Value: 159.85

Time series Analysis to find about year, month of orders

In [ ]:
df_completed['order_year']= df_completed['order_purchase_timestamp'].dt.year
df_completed['order_month'] = df_completed['order_purchase_timestamp'].dt.month

/tmp/ipython-input-4192229234.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_completed['order_year']= df_completed['order_purchase_timestamp'].dt.year
/tmp/ipython-input-4192229234.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_completed['order_month'] = df_completed['order_purchase_timestamp'].dt.month

In [ ]:
df_completed["order_year"]
df_completed['order_month']

0         2
1        10
2         7
3         8
4         3
         ..
99436     8
99437     4
99438    12
99439     4
99440    10
Name: order_month, Length: 96478, dtype: int32

In [ ]:
df_completed.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,items_count,order_price,order_freight_value,total_payment_installments,total_payment_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_year,order_month
0,13b825fdc28948500cfc7a03eb975fbc,669b06cabc9d39c1bcc52e6889e1318d,delivered,2018-02-13 11:05:00,2018-02-13 11:30:00,2018-02-15 01:28:00,2018-02-21 20:09:00,2018-12-03,1,31.00,11.85,1,42.85,f0903f4311560f0f99dca752df6dfa67,14930,boa esperanca do sul,SP,2018,2
1,f9d90a312f7c442297e418dbf9564475,35b031db03bcb2b6e37e2ed393ab3720,delivered,2017-10-17 16:03:00,2017-10-18 03:14:00,2017-10-19 16:46:00,2017-11-09 15:27:00,2017-08-11,1,17.90,15.10,1,33.00,3e3048f4f31ca9a28f05279f3554c715,27470,passa tres,RJ,2017,10
2,d1e7343d9fea35ce6330478c84f0fb7f,38d582cf25bb1bc7d6f9f494dc2c260e,delivered,2018-07-25 18:18:00,2018-07-26 13:15:00,2018-07-27 10:55:00,2018-08-02 16:54:00,2018-09-08,1,56.00,15.49,2,71.49,3ce128c0db0a5e430f1a998105944d59,26210,nova iguacu,RJ,2018,7
3,0e2b7e9ea88624cc24fe978983190dea,278bd592e79315f09047f589279bf742,delivered,2017-08-19 17:33:00,2017-08-19 17:50:00,2017-08-25 18:45:00,2017-09-13 20:23:00,NaT,1,174.90,31.97,3,206.87,f668170416a9f589e91a2b9dc11e1eb3,29165,serra,ES,2017,8
4,a60d97427c94f3cf9e9c338ac3e9aa14,341c4634e0f68d32b278e42dc843b433,delivered,2018-03-14 15:04:00,2018-03-16 03:50:00,2018-03-19 12:32:00,2018-04-04 20:16:00,2018-11-04,1,139.89,34.52,1,174.41,2a9c0f0e5f06e91c50c74baf4dc67a0f,19470,presidente epitacio,SP,2018,3

In [ ]:
#Year wise orders completed
df_completed.groupby('order_year')['order_id'].nunique()

order_year
2016      267
2017    43428
2018    52783
Name: order_id, dtype: int64

In [ ]:
df_completed["order_year_month"] = df_completed["order_purchase_timestamp"].dt.to_period("M")

monthly_trend = (
    df_completed.groupby("order_year_month")["order_id"]
    .nunique()
    .reset_index()
)

/tmp/ipython-input-2209277788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_completed["order_year_month"] = df_completed["order_purchase_timestamp"].dt.to_period("M")

In [ ]:
monthly_trend

   order_year_month  order_id
0           2016-09         1
1           2016-10       265
2           2016-12         1
3           2017-01       750
4           2017-02      1653
5           2017-03      2546
6           2017-04      2303
7           2017-05      3546
8           2017-06      3135
9           2017-07      3872
10          2017-08      4193
11          2017-09      4150
12          2017-10      4478
13          2017-11      7289
14          2017-12      5513
15          2018-01      7069
16          2018-02      6555
17          2018-03      7003
18          2018-04      6798
19          2018-05      6749
20          2018-06      6099
21          2018-07      6159
22          2018-08      6351

Revenue on orders yearly and year-month wise

In [ ]:
yearly_revenue = orders_trend = (
    df_completed.groupby("order_year")
    .agg(
        total_orders=("order_id", "nunique"),
        total_revenue=("total_payment_value", "sum")
    )
    .reset_index()
)

In [ ]:
yearly_revenue

   order_year  total_orders  total_revenue
0        2016           267       46586.33
1        2017         43428     6922900.24
2        2018         52783     8452975.20

In [ ]:
yr_month_revenue = df_completed.groupby('order_year_month').agg(
    total_orders = ('order_id','nunique'),
    total_revenue=('total_payment_value','sum')
).reset_index()

In [ ]:
yr_month_revenue

   order_year_month  total_orders  total_revenue
0           2016-09             1           0.00
1           2016-10           265       46566.71
2           2016-12             1          19.62
3           2017-01           750      127545.67
4           2017-02          1653      271298.65
5           2017-03          2546      414369.39
6           2017-04          2303      390952.18
7           2017-05          3546      567066.73
8           2017-06          3135      490225.60
9           2017-07          3872      566403.93
10          2017-08          4193      646000.61
11          2017-09          4150      701169.99
12          2017-10          4478      751140.27
13          2017-11          7289     1153528.05
14          2017-12          5513      843199.17
15          2018-01          7069     1078606.86
16          2018-02          6555      966510.88
17          2018-03          7003     1120678.00
18          2018-04          6798     1132933.95
19          2018-05          6749     1128836.69
20          2018-06          6099     1012090.68
21          2018-07          6159     1027903.86
22          2018-08          6351      985414.28

In [ ]:
aov_trend = (
    df_completed
    .groupby("order_year_month")
    .agg(
        total_revenue=("total_payment_value", "sum"),
        total_orders=("order_id", "nunique")
    )
    .reset_index()
)

aov_trend["AOV"] = aov_trend["total_revenue"] / aov_trend["total_orders"]
aov_trend

   order_year_month  total_revenue  total_orders         AOV
0           2016-09           0.00             1    0.000000
1           2016-10       46566.71           265  175.723434
2           2016-12          19.62             1   19.620000
3           2017-01      127545.67           750  170.060893
4           2017-02      271298.65          1653  164.125015
5           2017-03      414369.39          2546  162.753099
6           2017-04      390952.18          2303  169.757785
7           2017-05      567066.73          3546  159.917296
8           2017-06      490225.60          3135  156.371802
9           2017-07      566403.93          3872  146.282007
10          2017-08      646000.61          4193  154.066446
11          2017-09      701169.99          4150  168.956624
12          2017-10      751140.27          4478  167.740123
13          2017-11     1153528.05          7289  158.256009
14          2017-12      843199.17          5513  152.947428
15          2018-01     1078606.86          7069  152.582665
16          2018-02      966510.88          6555  147.446359
17          2018-03     1120678.00          7003  160.028274
18          2018-04     1132933.95          6798  166.656951
19          2018-05     1128836.69          6749  167.259844
20          2018-06     1012090.68          6099  165.943709
21          2018-07     1027903.86          6159  166.894603
22          2018-08      985414.28          6351  155.158917

Delivery Performance

In [ ]:
df_completed["delivery_days"] = (
    df_completed["order_delivered_customer_date"] -
    df_completed["order_purchase_timestamp"]
).dt.days

df_completed["delivery_delay_days"] = (
    df_completed["order_delivered_customer_date"] -
    df_completed["order_estimated_delivery_date"]
).dt.days

/tmp/ipython-input-915777991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_completed["delivery_days"] = (
/tmp/ipython-input-915777991.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_completed["delivery_delay_days"] = (

In [ ]:
avg_delivery_days = df_completed["delivery_days"].mean()
late_delivery_pct = (df_completed["delivery_delay_days"] > 0).mean() * 100
print(avg_delivery_days)
print(late_delivery_pct)

12.09402923188556
17.761562221439085

state wise revenue and orders

In [ ]:
state_performance = (
    df_completed.groupby("customer_state")
    .agg(
        total_orders=("order_id", "nunique"),
        total_revenue=("total_payment_value", "sum"),
        avg_delivery_days=("delivery_days", "mean")
    )
    .reset_index()
)

In [ ]:
state_performance

   customer_state  total_orders  total_revenue  avg_delivery_days
0              AC            80       19586.25          20.637500
1              AL           397       94195.79          24.040302
2              AM           145       27596.18          25.986207
3              AP            67       16141.81          26.731343
4              BA          3256      591270.60          18.866400
5              CE          1279      266463.97          20.817826
6              DF          2080      346146.17          12.509135
7              ES          1995      317682.65          15.331830
8              GO          1957      334294.22          15.151763
9              MA           717      147807.29          21.117155
10             MG         11354     1819277.61          11.543069
11             MS           701      134421.54          15.191155
12             MT           886      181441.72          17.593679
13             PA           946      212027.55          23.316068
14             PB           517      137834.65          19.953578
15             PE          1593      309074.59          17.966102
16             PI           476      105272.17          18.993697
17             PR          4923      781919.55          11.527321
18             RJ         12350     2055690.45          14.848907
19             RN           474      100728.30          18.824895
20             RO           243       56975.70          18.913580
21             RR            41        9039.52          28.975610
22             RS          5345      861802.40          14.819611
23             SC          3546      595208.40          14.475747
24             SE           335       70289.13          21.029851
25             SP         40501     5770266.19           8.298513
26             TO           274       60007.37          17.226277

customer analysis

In [ ]:
customer_orders = (
    df_completed.groupby("customer_unique_id")
    .agg(order_count=("order_id", "nunique"))
    .reset_index()
)

repeat_customer_pct = (customer_orders["order_count"] > 1).mean() * 100

In [ ]:
repeat_customer_pct

np.float64(3.0002784978255748)

In [ ]:
repeat_customer_pct = round(float(repeat_customer_pct), 2)
print(f"Repeat Customer %: {repeat_customer_pct}%")

Repeat Customer %: 3.0%

In [ ]:
#Revenue contribution by top states
state_performance.sort_values("total_revenue", ascending=False).head(5)

   customer_state  total_orders  total_revenue  avg_delivery_days
25             SP         40501     5770266.19           8.298513
18             RJ         12350     2055690.45          14.848907
10             MG         11354     1819277.61          11.543069
22             RS          5345      861802.40          14.819611
17             PR          4923      781919.55          11.527321

In [ ]:
#Creating csv's for Power BI
yearly_revenue.to_csv("yearly_revenue.csv", index=False)
yr_month_revenue.to_csv("monthly_revenue.csv", index=False)
aov_trend.to_csv("aov_trend.csv", index=False)
state_performance.to_csv("state_performance.csv", index=False)

# Optional KPI summary
kpi_summary = pd.DataFrame({
    "Total Orders": [total_orders],
    "Total Revenue": [total_revenue],
    "Average Order Value": [avg_order_value],
    "Repeat Customer %": [repeat_customer_pct],
    "Avg Delivery Days": [avg_delivery_days],
    "Late Delivery %": [late_delivery_pct]
})

kpi_summary.to_csv("kpi_summary.csv", index=False)